@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* Links */
a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
  /* Remove underline for links */
}

a:hover {
  text-decoration: underline;
}

a.active {
  font-weight: bold;
}

.container, .project-container, #about-page, #about-page #about-photos, #contacts #contact-items-container, #landing-projects, #nav-container, #nav-container ul {
  display: flex;
}

@media (max-width: 700px) {
  .container, .project-container, #about-page, #about-page #about-photos, #contacts #contact-items-container, #landing-projects, #nav-container, #nav-container ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
#nav-container {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: fit-content;
  padding: 10px;
  color: #7f1114;
  background-color: #e1e1df;
  justify-content: space-between;
  font-size: 1.5rem;
  text-decoration: none;
  border-bottom: 1px solid #7f1114;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
#nav-container a,
#nav-container a:visited {
  text-decoration: none;
}
#nav-container a:hover {
  text-decoration: underline;
}
#nav-container ul {
  list-style: none;
}
#nav-container ul li {
  margin: 0 15px;
}
#nav-container button {
  background-color: #e1e1df;
  border: none;
  position: absolute;
  right: 1rem;
}
#nav-container button:focus {
  outline: none;
}
@media (min-width: 700px) {
  #nav-container button {
    display: none;
  }
}

@media (max-width: 700px) {
  nav {
    height: 0;
    overflow-x: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
}
.hide {
  height: 125px;
}

#nav-burger {
  width: 45px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-burger span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #7f1114;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-burger span:nth-child(1) {
  top: 0px;
}

#nav-burger span:nth-child(2),
#nav-burger span:nth-child(3) {
  top: 12px;
}

#nav-burger span:nth-child(4) {
  top: 24px;
}

#nav-burger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-burger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 0.9rem;
}

#landing-container {
  overflow-x: hidden;
  width: 100%;
  padding: 5rem 2rem 0 2rem;
  background-image: url("./images/pexels-polina-tankilevitch-4110404-blend3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
#landing-container #what-opener-title {
  font-size: 3rem;
  margin: 0 0 3rem 0;
  font-weight: bold;
  line-height: 0.9;
}
#landing-container h3 {
  line-height: 0.8;
  color: #94928E;
  text-decoration: line-through;
  font-weight: 100;
}
#landing-container h3:nth-child(2) {
  font-size: 1.9rem;
}
#landing-container h3:nth-child(3) {
  font-size: 2.2rem;
}
#landing-container h3:nth-child(4) {
  font-size: 2.4rem;
}
#landing-container h3:nth-child(5) {
  font-size: 2.6rem;
}
#landing-container #web-opener-title {
  margin: 5rem 0 3rem 0;
  font-size: 7rem;
  font-weight: bold;
  line-height: 0.8;
}

@media (max-width: 700px) {
  #landing-container {
    padding: 5rem 0.7rem 0 0.7rem;
    background-size: contain;
  }
  #landing-container #what-opener-title {
    font-size: 2rem;
  }
  #landing-container h3 {
    font-size: 1.5rem;
  }
  #landing-container #web-opener-title {
    font-size: 4rem;
  }
}
@media (max-width: 450px) {
  #landing-container #web-opener-title {
    font-size: 4.3rem;
  }
}
#landing-about {
  position: relative;
  top: 25vh;
  display: flex;
  flex-direction: column;
}
#landing-about p {
  margin: 2.5rem 0;
  line-height: 1.5;
}
#landing-about h2 {
  font-size: 4.5rem;
  letter-spacing: 1.3;
  line-height: 0.9;
}
#landing-about button {
  padding: 0.3em 2.5em;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  color: #b42c2c;
  border: 1px solid #b42c2c;
  background-color: #e1e1df;
  transition: all ease-in 100ms;
  -webkit-transition: all ease-in 100ms;
  -moz-transition: all ease-in 100ms;
  -ms-transition: all ease-in 100ms;
  -o-transition: all ease-in 100ms;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  max-width: 150px;
}
#landing-about button:hover {
  background-color: #fdfdfb;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
@media (max-width: 500px) {
  #landing-about h2 {
    font-size: 3.5rem;
  }
  #landing-about #about-intro-para::before {
    display: none;
  }
  #landing-about button {
    margin: 1rem auto;
  }
}

#about-intro-para {
  max-width: 40ch;
  text-align: justify;
}

#about-intro-para::before {
  content: "";
  width: 200px;
  height: 75px;
  margin: 20px;
  padding: 20px;
  border: 10px solid rgba(0, 0, 0, 0);
  float: right;
  shape-outside: polygon(-21px 241px, -63px 248px, 99.2% 96.8%, 296px -8px);
}

@media (max-width: 500px) {
  #landing-about {
    align-items: center;
  }
}
#landing-projects {
  position: relative;
  margin-top: 35vh;
  margin-bottom: 1rem;
}
#landing-projects div {
  width: 100%;
}
#landing-projects div button {
  padding: 0.3em 2.5em;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  color: #b42c2c;
  border: 1px solid #b42c2c;
  background-color: #e1e1df;
  transition: all ease-in 100ms;
  -webkit-transition: all ease-in 100ms;
  -moz-transition: all ease-in 100ms;
  -ms-transition: all ease-in 100ms;
  -o-transition: all ease-in 100ms;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 2rem auto;
}
#landing-projects div button:hover {
  background-color: #fdfdfb;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
#landing-projects h2 {
  font-size: 4.5rem;
  letter-spacing: 1.3;
  line-height: 0.9;
}

#thumbs-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#thumbs-container {
  display: flex;
  justify-content: space-evenly;
}

.project-thumbnail {
  height: 160px;
  margin: 1.3rem 0;
  border: 1px solid #130a0b;
}

@media (max-width: 1100px) {
  #thumbs-container {
    flex-direction: column;
    align-items: center;
  }
}
#contacts {
  text-align: center;
  padding: 20px;
}
#contacts #contact-items-container {
  justify-content: space-evenly;
}
#contacts #contact-items-container img {
  width: 80px;
  margin: 2rem 0 -1rem 0;
}

#about-page {
  justify-content: space-around;
  overflow-x: hidden;
  width: 100%;
  padding: 2rem;
}
#about-page h1 {
  font-size: 3.5rem;
  margin: 4rem 0 4.5rem 0;
  font-weight: bold;
  line-height: 0.85;
}
#about-page p {
  font-size: 1.2rem;
  max-width: 50ch;
  margin: 1.5rem 0;
  line-height: 1.8;
}
#about-page #about-photos {
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 1rem;
  text-align: center;
}
#about-page #about-photos img {
  align-self: center;
  width: 250px;
  margin: 1rem auto;
}

#cv-float {
  position: absolute;
  right: 5%;
  top: 12%;
}

.download-img {
  height: 1.5ch;
}

#rock-container {
  width: 100%;
  display: flex;
}
#rock-container img {
  width: 200px;
  margin: 0 auto;
}

#projects-title {
  color: #130a0b;
  font-size: 6rem;
  text-align: center;
  position: relative;
  top: 5rem;
}

@media (max-width: 700px) {
  #projects-title {
    font-size: 5.5rem;
  }
}
.project-container {
  color: #130a0b;
  margin: 7rem auto;
}
.project-container .project-pic-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.project-container .project-pic {
  margin: 1rem 0.5rem;
  height: 200px;
  border: 1px solid #130a0b;
}
.project-container .project-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
  max-width: 800px;
  padding: 0 1rem;
  margin: 1rem auto;
  text-align: left;
}
.project-container .project-text ul {
  margin: 1rem auto;
  padding: 0 4rem;
}
.project-container .project-text h2 {
  text-align: center;
  font-size: 1.5rem;
}
.project-container .project-text a {
  text-decoration: underline;
  color: #7f1114;
}
.project-container .project-text .seperate-links {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif;
  background-color: #e1e1df;
  color: #130a0b;
}

strong {
  color: #7f1114;
}

/*# sourceMappingURL=styles.css.map */
