@use 'container';

#about-page {
  @extend .container;
  justify-content: space-around;
  overflow-x: hidden;

  width: 100%;

  padding: 2rem;
  background-image: url("./images/pexels-polina-tankilevitch-white-wine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  h1 {
    font-size: 3.5rem;
    margin: 4rem 0 4.5rem 0;
    font-weight: bold;
    line-height: 0.85;
  }
 
  p {
    font-size: 1.2rem;
    max-width: 50ch;
    margin: 1.5rem 0;
    line-height: 1.8;
  }
  #about-photos {
      @extend .container;
      flex-direction: column;
      justify-content: space-evenly;
    img {
      align-self: center;
      width: 250px;
      margin: 1rem auto;
    }
  }
}
