@use 'colors';
@use 'buttons';

#landing-about {
  position: relative;
  top: 25vh;
  display: flex;
  flex-direction: column;
  
    p {
    margin: 2.5rem 0;
    line-height: 1.5;
  }
  h2 {
        font-size: 4.5rem;
        letter-spacing: 1.3;
        line-height: 0.9;
  }
  
  
  button {
    @include buttons.main-button;
    margin: -.5rem 0 1rem 0;
    max-width: 150px;
    
  }
    
  
  
}

#about-intro-para {
  max-width: 40ch;
  text-align: justify;
}

#about-intro-para::before {
  content: "";
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 20px;
  border: 10px solid rgba(0, 0, 0, 0);
  float: right;
  shape-outside: polygon(-21px 241px, -63px 248px, 99.2% 96.8%, 296px -8px);
}







