@use 'container';

#about-page {
  @extend .container;
  justify-content: space-around;
  overflow-x: hidden;

  width: 100%;

  padding: 2rem;

  
  h1 {
    font-size: 3.5rem;
    margin: 4rem 0 4.5rem 0;
    font-weight: bold;
    line-height: 0.85;
  }
 
  p {
    font-size: 1.2rem;
    max-width: 50ch;
    margin: 1.5rem 0;
    line-height: 1.8;
  }
  
  #about-photos {
      @extend .container;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0 1rem;
      text-align: center;
    img {
      align-self: center;
      width: 250px;
      margin: 1rem auto;
    }
  }
}

#cv-float{
  position: absolute;
  right: 5%;
  top: 12%;


}

.download-img{
  height: 1.5ch;
}
#rock-container{
  width: 100%;
  display: flex;

  img{
    width: 200px;
    margin: 0 auto;
  }
}



