@use 'colors';

@mixin main-button{
    padding: .3em 2.5em;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
    color: colors.$main-red;
    border: 1px solid colors.$main-red;
    background-color: colors.$background-color;
    transition: all ease-in 100ms;
    -webkit-transition: all ease-in 100ms;
    -moz-transition: all ease-in 100ms;
    -ms-transition: all ease-in 100ms;
    -o-transition: all ease-in 100ms;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    &:hover {
    
    background-color: #fdfdfb;
    transform:   scale(1.05) ;
    -webkit-transform:   scale(1.05) ;
    -moz-transform:   scale(1.05) ;
    -ms-transform:   scale(1.05) ;
    -o-transform:   scale(1.05) ;
    }
}