@use 'colors';

#landing-container {
  overflow-x: hidden;
  width: 100%;
  padding: 5rem 2rem 0 2rem;
  background-image: url("./images/pexels-polina-tankilevitch-4110404-blend3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  #what-opener-title {
    font-size: 3rem;
    margin: 0 0 3rem 0;
    font-weight: bold;
    line-height: 0.9;
  }

  h3 {
    font-size: 2.5rem;
    line-height: 0.8;
    color: colors.$main-grey;
    text-decoration: line-through;
    font-weight: 100;
  }

  #web-opener-title {
    margin: 5rem 0 3rem 0;
    font-size: 7rem;
    font-weight: bold;
    line-height: 0.8;
  }

  

}

@media (max-width: 700px) {
  #landing-container{
    padding: 5rem .7rem 0 .7rem;
    background-size: contain;
    

    #what-opener-title {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.5rem;
    }
    #web-opener-title{ 
      font-size: 5rem;
  }
  }
  
}
@media (max-width: 450px) {
  #landing-container{
    
    #web-opener-title{ 
      font-size: 4.3rem;
  }
  }

}
