/* Links */
a,
a:visited,
a:active {
    color: inherit;
    text-decoration: none; /* Remove underline for links */
}
a:hover {
    text-decoration: underline;
}
a.active {
    font-weight: bold;
}

// @mixin linx ($link, $visit, $hover, $active) {
//     a {
//       color: $link;
//       &:visited {
//         color: $visit;
//       }
//       &:hover {
//         color: $hover;   
//       }
//       &:active {
//         color: $active;
//       }
//     }
//   }