@use 'links';
@use 'colors';
@use 'container';

#nav-container{
    @extend.container; //usesflexandmediamobileposition: 
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 10px;
    color: colors.$secondary-red;
    background-color: colors.$background-color;
    justify-content: space-between;
    font-size: 1.5rem;
    text-decoration: none;
    border-bottom: 1px solid colors.$secondary-red;
    // nav{
    //     transition: all 500ms;
    // -webkit-transition: all 500ms;
    // -moz-transition: all 500ms;
    // -ms-transition: all 500ms;
    // -o-transition: all 500ms;
    // }

    a,a:visited {
        text-decoration: none;
        }
    a:hover{
        text-decoration: underline;
    }

    ul {
        @extend .container;
        
        list-style: none;
        
        li{
            margin: 0 15px;
            }
        }
    button{
        background-color: colors.$background-color;
        border: none;
        position: absolute;
        right: 2rem;
    }
    svg {
        background-color: colors.$background-color;
        cursor: pointer; 
        fill: colors.$main-red;
      }

      @media (min-width: 700px) {
          button{
              display: none;
          }
      }

}



.hide {
    height: 200px;
    overflow: hidden;
  }


