@use 'links';
@use 'colors';
@use 'container';

#nav-container {
  @extend.container; //usesflexandmediamobile

  position: fixed;
  z-index: 99;
  width: 100%;
  height: auto;
  padding: 10px;
  color: colors.$secondary-red;
  background-color: colors.$background-color;
  justify-content: space-between;
  font-size: 1.5rem;
  text-decoration: none;
  border-bottom: 1px solid colors.$secondary-red;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;

  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  ul {
    @extend .container;

    list-style: none;

    li {
      margin: 0 15px;
    }
  }

  button {
    background-color: colors.$background-color;
    border: none;
    position: absolute;
    right: 1rem;
    &:focus {
      outline: none;
    }
  }

  //**mobile menu **
  @media (min-width: 700px) {
    button {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  nav {
    height: 0;
    overflow-x: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
}

.hide {
  height: 125px;
}

#nav-burger {
  width: 45px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-burger span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: colors.$secondary-red;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-burger span:nth-child(1) {
  top: 0px;
}

#nav-burger span:nth-child(2),
#nav-burger span:nth-child(3) {
  top: 12px;
}

#nav-burger span:nth-child(4) {
  top: 24px;
}

#nav-burger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-burger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
