@use 'buttons';
@use 'colors';
@use 'container';

#landing-projects{
    @extend .container; // uses flex and @media for mobile
    position: relative;

    margin-top: 35vh;
    margin-bottom: 1rem;  
    div{
        width: 100%;
        button {
            @include buttons.main-button;
            margin: 2rem auto;
            
          }
    }
    h2 {
        font-size: 4.5rem;
        letter-spacing: 1.3;
        line-height: 0.9;
      }
}
#thumbs-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 #thumbs-container{
     display: flex;
     justify-content: space-evenly;
 }


.project-thumbnail{
    height: 160px;
    margin: 1.3rem 0;
    border: 1px solid colors.$main-dark;
  }

  @media (max-width: 1100px) {
    #thumbs-container{
        flex-direction: column;
        align-items: center;
    }
    

}  

@media (max-width: 700px) {
    #landing-projects h2{
        font-size: 4rem;
        
    }
}